<nb-card>
  <nb-card-header>
    <span>Users</span>
    <span>
        <dx-menu
            #menu
            [dataSource]="products"
            displayExpr="name"
            [showFirstSubmenuMode]="showFirstSubmenuModes"
            orientation="horizontal"
            submenuDirection="auto"
            [hideSubmenuOnMouseLeave]="false"
            (onItemClick)="itemClick($event)"
        >
        </dx-menu>
    </span>
  </nb-card-header>

  <nb-card-body>
      <ng2-smart-table
          [settings]="settings"
          [source]="source"
          (deleteConfirm)="onDeleteConfirm($event)">
      </ng2-smart-table>
  </nb-card-body>
</nb-card>
