<nb-card>
  <nb-card-header>
    <span>Users</span>
    <span>
        <dx-menu
            #menu
            [dataSource]="products"
            displayExpr="name"
            [showFirstSubmenuMode]="showFirstSubmenuModes"
            orientation="horizontal"
            submenuDirection="auto"
            [hideSubmenuOnMouseLeave]="false"
            (onItemClick)="itemClick($event)"
        >
        </dx-menu>
    </span>
  </nb-card-header>

  <nb-card-body>
      <dx-data-grid
          id="gridContainer"
          [dataSource]="customers"
          [columns]="['CompanyName', 'City', 'State', 'Phone', 'Fax']"
          [showBorders]="true">
      </dx-data-grid>
  </nb-card-body>
</nb-card>
