# General --------------------

.env
controller/.metals/

# Controller Scala --------------------

controller-scala/target/
controller-scala/project/target/
controller-scala/project/project/
controller-scala/project/.bloop/
controller-scala/volumes/
controller-scala/dumps/
controller-scala/.metals/
controller-scala/.bloop/
controller-scala/project/metals.sbt

# Admin Angular --------------------

admin-angular/node_modules/
admin-angular/dist/
admin-angular/.npm/
admin-angular/.ash_history

# Admin React --------------------

admin-react/node_modules
admin-react/static/bundle.js
admin-react/build/
admin-react/npm-debug.log
admin-react/.idea
admin-react/*.iml
admin-react/*.DS_Store
