# General --------------------

.env

# Controller --------------------

controller/target/
controller/project/target/
controller/project/project/
controller/project/.bloop/
controller/volumes/
controller/dumps/
controller/.metals/
controller/.bloop/
controller/project/metals.sbt

# Portal --------------------

admin/node_modules/
admin/dist/
