# General --------------------

.env
controller/.metals/

# Controller Scala --------------------

controller-scala/target/
controller-scala/project/target/
controller-scala/project/project/
controller-scala/project/.bloop/
controller-scala/volumes/
controller-scala/dumps/
controller-scala/.metals/
controller-scala/.bloop/
controller-scala/project/metals.sbt

# Admin Angular --------------------

admin-angular/node_modules/
admin-angular/dist/
