<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="root-path">/var/log/ims</Property>
        <Property name="errors-pattern">%p %d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %c{1} %t - %m%n</Property>
    </Properties>
    <Appenders>
        <Console name="console-appender" target="SYSTEM_OUT">
            <PatternLayout pattern="${errors-pattern}" />
        </Console>
        <File name="file-appender" fileName="${root-path}/errors.log" append="true">
            <PatternLayout pattern="${errors-pattern}" />
        </File>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="console-appender" />
            <AppenderRef ref="file-appender" />
        </Root>
    </Loggers>
</Configuration>
