<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
    <Properties>
        <Property name="root-path">/var/log/ims</Property>
        <Property name="standard-pattern">[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</Property>
    </Properties>
    <Appenders>
        <Console name="console-appender" target="SYSTEM_OUT">
            <PatternLayout pattern="${standard-pattern}" />
        </Console>
        <File name="file-appender" fileName="${root-path}/errors.log" append="true">
            <PatternLayout pattern="${standard-pattern}" />
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="console-appender" />
            <AppenderRef ref="file-appender" />
        </Root>
    </Loggers>
</Configuration>
