<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()">IMS</a>
  </div>
</div>

<div class="header-container">
  <nb-actions size="small">
    <!-- <nb&#45;action class="user&#45;action" *nbIsGranted="['view', 'user']" > -->
    <!--   <nb&#45;user [nbContextMenu]="userMenu" [name]="user?.name"></nb&#45;user> -->
    <!-- </nb&#45;action> -->
  </nb-actions>
</div>
